<div class="container pt-3" style="max-width: 650px">
  <div class="text-center">
    <h1 class="py-5">
      Forgot your password? 🤔
    </h1>
  </div>
     <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-2 ivu-card ivu-card-bordered">
      <div class="ivu-card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'ivu-form ivu-form-label-right' }) do |f| %>
          <div class="ivu-form-item">
            <%= f.label :email, class: 'ivu-form-item-label' %>
            <div class="ivu-form-item-content">
              <div class="ivu-input-wrapper ivu-input-wrapper-large ivu-input-type-email">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "ivu-input ivu-input-large ivu-input-with-prefix" %>
                <span class="ivu-input-prefix"><i class="ion ion-md-mail"></i></span>
              </div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'mt-1 ivu-btn ivu-btn-primary ivu-btn-long ivu-btn-large' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
</div>
